.container {
  width: 40%;
  margin: auto;
  direction: rtl !important;
}
.email {
  direction: rtl !important;
}
.google {
  display: inline-block;
  padding-right: 50px;
  border-radius: 5px;
}
button {
  display: inline-block;
}
.buttons_container {
  text-align: center;
}
.Button {
  display: inline-block;
  margin-inline-start: auto;
  margin-block-start: 20px;
  margin-bottom: 5px;
}

@media (min-width: 745px) {
  .Button {
    margin-inline-start: 20px;
    margin-block-start: auto;
  }
}
